<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BUNKER®</title>
    <link rel="shortcut icon" href="./src/images/store/bunker-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="./src/css/style.css" />
    <script src="https://kit.fontawesome.com/e4ad388285.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./src/js/script.js" defer></script>
    <script src="./src/js/vue.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- <div v-for="item in all">
        {{item.name}}
      </div> -->
      <!-- Top Container -->
      <div class="top-container">
        <span><i class="fa fa-globe"></i> FREE SHIPPING ON ORDERS OVER R 4000</span>
      </div>

      <!-- Header -->
      <header id="myHeader">
        <!-- Buttons/Links -->
        <div class="header-buttons">
          <!-- Toggle searchbar -->
          <button onclick="myFunction()" class="icon" title="Search Toggle"><a href="#all-products"><i class="fa fa-search"></i></a></button>

          <!-- Logo/Home -->
          <a href="" title="Home" class="home-link">BUNKER</a>

          <!-- Cart -->
          <button class="icon" title="Cart"><i class="fa fa-shopping-cart"></i></button>
        </div>

        <!-- Searchbar -->
        <div id="searchbar" style="display: none">
          <div class="searchbar">
            <input type="text" id="searchInput" class="search-input" v-model="search" placeholder="Search.." autocomplete="off" />
            <button @click="resetInput" class="input-button" title="Clear Search">CLEAR</button>
          </div>
        </div>
      </header>

      <!-- Navbar -->
      <nav id="mySidenav" class="sidenav">
        <!-- Filter products by tops -->
        <form action="./src/pages/filtered-products.html">
          <input type="hidden" value="top" name="product_type" />
          <button title="Tops" class="type-button"><a>Tops</a></button>
        </form>

        <!-- Filter products by bottoms -->
        <form action="./src/pages/filtered-products.html">
          <input type="hidden" value="bottom" name="product_type" />
          <button title="Bottoms" class="type-button"><a>Bottoms</a></button>
        </form>

        <!-- Filter products by accessories -->
        <form action="./src/pages/filtered-products.html">
          <input type="hidden" value="accessory" name="product_type" />
          <button title="Accessories" class="type-button"><a>Accessories</a></button>
        </form>

        <!-- About Us page -->
        <a href="./src/pages/about-us.html" title="About Us">About Us</a>

        <!-- Account page -->
        <a href="./src/php/user.php" title="Account" >Account</a>
      </nav>

      <main id="main" class="main">
        <p class="section-heading">Coming Soon</p>
        <div class="cards">
          <div class="content" v-for="product in test" :key="product.product_id">
              <div class="content-overlay"></div>
              <img class="content-image" v-bind:src="'./src/images/products/' + product.image" :alt="product.name">
              <div class="content-details fadeIn-top">
                <p>{{product.name}}</p>
                <p>{{product.brand}}</p>
              </div>
            </a>
          </div>
        </div>

        <p class="section-heading">Featured Products</p>
        <div class="cards">
          <!-- Vue data loop  -->
          <div class="content" v-for="product in all" :key="product.product_id">
            <!-- Filter by selected product -->
            <div class="content-overlay"></div>
            <form action="./src/pages/selected-product.html">
              <input type="hidden" :value="product.product_id" name="product_id" />
              <img class="content-image" v-bind:src="'./src/images/products/' + product.image" :alt="product.name">
            <div class="content-details fadeIn-top">
              <p>{{product.name}}</p>
              <p>R {{product.price}}.00</p>
              <!-- <button type="submit" :title="product.name">dfgdfg</button> -->
              <button type="submit" class="input-button" title="See More">MORE</button>
            </div>
            </form>
          </div>
        </div>

        <p class="section-heading" id="all-products">All Products</p>
        <div class="cards">
          <!-- Vue data loop -->
          <div class="card" v-for="product in all" :key="product.product_id">
            <!-- Filter by selected product -->
            <form action="/Bunker-Online-Store-Fullstack/src/pages/selected-product.html">
              <input type="hidden" :value="product.product_id" name="product_id" />
              <button class="card-img" type="submit" :title="product.name">
                <img v-bind:src="'./src/images/products/' + product.image" :alt="product.name" />
              </button>
            </form>
            <div class="card-info">
              <h4>{{product.name}}</h4>
              <p>R {{product.price}}.00</p>
            </div>
          </div>
        </div>
        </main>

      <!-- Navigation Controller -->
      <div class="navigation-controller">
        <!-- Top of page -->
        <button onclick="topFunction()" id="upBtn" class="navigation-btn" title="To top"><i class="fa fa-arrow-up"></i></button>

        <!-- Bottom of page -->
        <button onclick="bottomFunction()" id="downBtn" class="navigation-btn" title="To bottom"><i class="fa fa-arrow-down"></i></button>

        <!-- Open Navbar -->
        <button onclick="openNav()" id="openNav" class="navigation-btn" title="Open Navbar"><i class="fa fa-arrow-right" class="icon"></i></button>

        <!-- Close Navbar -->
        <button onclick="closeNav()" id="closeNav" class="navigation-btn" title="Close Navbar"><i class="fa fa-arrow-left"></i></button>

        <!-- Previous page -->
        <button onclick="history.back()" id="previousPage" class="navigation-btn" title="Back"><i class="fa fa-close"></i></button>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <!-- Trademarks -->
        <div class="trademarks">
          <span>BUNKER®</span>
        </div>

        <!-- Extra Info -->
        <div div="extra-information">
          <span>R ZAR</span>
          <span>|</span>
          <span>Help <i class="fa fa-gear"></i></span>
        </div>
      </footer>
    </div>
  </body>
</html>
