<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BUNKER®</title>
    <link rel="shortcut icon" href="/Bunker-Online-Store-Fullstack/src/images/bunker-icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/Bunker-Online-Store-Fullstack/src/css/style.css" />
    <script src="https://kit.fontawesome.com/e4ad388285.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="/Bunker-Online-Store-Fullstack/src/js/script.js" defer></script>
    <script src="/Bunker-Online-Store-Fullstack/src/js/vue.js" type="module" defer></script>
  </head>
  <body>
    <div id="app">
      <!-- Top Container -->
      <div class="top-container">
        <span><i class="fa fa-globe"></i> FREE SHIPPING ON ORDERS OVER R 4000</span>
      </div>

      <!-- Header -->
      <header id="myHeader">
        <div class="header-buttons">
        <button onclick="myFunction()" class="icon" title="Search Toggle"><i class="fa fa-search"></i></button>
        <!-- Logo/Home -->
        <a href="/Bunker-Online-Store-Fullstack/" title="Home" class="home-link">BUNKER</a>
        <!-- Cart -->
        <button class="icon" title="Cart">
          <i class="fa fa-shopping-cart"></i>
        </button>
      </div>

      <div id="searchbar" style="display: none;">
        <div class="searchbar">
          <input type="text" id="searchInput" class="search-input" v-model="search" placeholder="Search.." autocomplete="off"/>
          <button @click="resetInput" class="input-button" title="Clear Search">CLEAR</button>
        </div>  
      </div>
      </header>

      <!-- Navbar -->
      <div id="mySidenav" class="sidenav">
        <a href="#" title="Tops">Tops</a>
        <a href="#" title="Bottoms">Bottoms</a>
        <a href="#" title="Accessories">Accessories</a>
        <a href="#" title="About Us">About Us</a>
        <a href="/Bunker-Online-Store-Fullstack/src/pages/register.html" title="Account">Account</a>
      </div>

      <!-- Main -->
      <main id="main" class="main">
        <div class="cards">
          <div class="card" v-for="product in filteredList" :key="product.id">
            <form action="/Bunker-Online-Store-Fullstack/src/pages/selected-product.html">
              <input type="hidden" :value="product.id" name="product_id" />
              <button class="card-img" type="submit" :title="product.name">
                <img :src="product.image" :alt="product.name"/>
              </button>
            </form>
            <div class="card-info">
              <h4>{{product.name}}</h4>
              <p>R {{product.price}}.00</p>
            </div>
          </div>
        </div>
      </main>

      <!-- <main id="main" class="main">
        <div class="cards">
          <div class="card" v-for="product in productList" :key="product.id">
            <form action="/Bunker-Online-Store-Fullstack/src/pages/view-page.php">
              <input type="hidden" :value="product.id" name="product_id" />
              <button class="card-img" type="submit" :title="product.name">
                <img :src="product.image" :alt="product.name" style="width: 100%"/>
              </button>
            </form>
            <div class="card-info">
              <h4>{{product.name}}</h4>
              <p>R {{product.price}}.00</p>
            </div>
          </div>
        </div>
      </main> -->      

      <!-- <main id="main" class="main">
        <button @click="awesome = !awesome">Toggle</button>
          <div class="cards" v-if="awesome">
            <div class="card" v-for="product in topList" :key="product.id">
              <form action="/Bunker-Online-Store-Fullstack/src/pages/view-page.php">
                <input type="hidden" :value="product.id" name="product_id" />
                <button class="card-img" type="submit" :title="product.name">
                  <img :src="product.image" :alt="product.name" style="width: 100%"/>
                </button>
              </form>
              <div class="card-info">
                <h4>{{product.name}}</h4>
                <p>R {{product.price}}.00</p>
              </div>
            </div>
          </div>
          
          <div class="cards" v-else>
            <div class="card" v-for="product in bottomList" :key="product.id">
              <form action="/Bunker-Online-Store-Fullstack/src/pages/view-page.php">
                <input type="hidden" :value="product.id" name="product.id" />
                <button class="card-img" type="submit" :title="product.name">
                  <img :src="product.image" :alt="product.name" style="width: 100%"/>
                </button>
              </form>
              <div class="card-info">
                <h4>{{product.name}}</h4>
                <p>R {{product.price}}.00</p>
              </div>
            </div>
          </div>
      </main> -->

      <!-- Navigation Controller -->
      <div class="navigation-controller">
        <button onclick="topFunction()" id="upBtn" class="navigation-btn" title="To top">
          <i class="fa fa-arrow-up"></i>
        </button>
        <button onclick="bottomFunction()" id="downBtn" class="navigation-btn" title="To bottom">
          <i class="fa fa-arrow-down"></i>
        </button>
        <button onclick="openNav()" id="openNav" class="navigation-btn" title="Open Navbar">
          <i class="fa fa-arrow-right" class="icon"></i>
        </button>
        <button onclick="closeNav()" id="closeNav" class="navigation-btn" title="Close Navbar">
          <i class="fa fa-arrow-left"></i>
        </button>
        <button onclick="history.back()" id="previousPage" class="navigation-btn" title="Back">
          <i class="fa fa-close"></i>
        </button>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="trademarks">
          <span>BUNKER®</span>
        </div>

        <div div="extra-information">
          <span>R ZAR</span>
          <span>|</span>
          <span>Help <i class="fa fa-gear"></i></span>
        </div>
      </footer>
    </div>
  </body>
</html>
