* {
  box-sizing: border-box;
  margin: 0%;
  scroll-behavior: smooth;
}
body {
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
#app {
  transition: margin-left 0.5s;
}

.top-container {
  padding: 0.3rem;
  background-color: black;
  color: white;
  text-align: center;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

header {
  background-color: #f2cc0f;
  color: black;
  padding: 0.4rem 2rem;
  z-index: 1;
  width: 100%;
}
header .header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .home-link {
  cursor: pointer;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  font-size: 40px;
  font-style: italic;
}
header i {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.8s ease;
  color: black;
}
header i:hover {
  transform: scale(1.18);
}
header .icon {
  outline: none;
  border: none;
  background-color: transparent;
}
header .searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
}
header .search-input {
  width: 40%;
  min-width: 250px;
  height: 40px;
  margin-right: 20px;
  outline: none;
  border: 1px solid black;
  font-size: 15px;
  padding: 10px;
}
header .input-button {
  background-color: black;
  color: #f2cc0f;
  border: 1px solid black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 10%;
  min-width: 70px;
  height: 40px;
  font-size: 20px;
  font-style: italic;
  padding-left: 3px;
  cursor: pointer;
  transition: 0.5s;
}
header .input-button:hover {
  color: black;
  background-color: #f2cc0f;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidenav a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: 25px;
  color: #f2cc0f;
  display: block;
  transition: 0.3s;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
}
.sidenav a:hover {
  color: #d3a92a;
}
.sidenav .type-button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

main {
  padding: 0rem 2rem;
}
main button {
  padding: 0%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
main h1 {
  text-align: center;
}
main .cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 50px;
}
main .card {
  width: fit-content;
  margin: 0 auto;
}
main .card-img {
  overflow: hidden;
}
main .card-img img {
  transition: transform 0.8s ease;
  width: 95%;
}
main .card-img:hover img {
  transform: scale(1.18);
}
main .card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 5px;
}
button {
  transition: 0.1s all;
}
button:active {
  transform: scale(0.95);
}

/* Account Sign -In, -Out, -Register and change password pages */
.account {
  background-color: #f2cc0f;
  width: 45%;
  min-width: 300px;
  margin: 0 auto;
  padding: 1rem 0;
}
.account .account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account .form-input {
  width: 75%;
  min-width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 2rem;
}
.account .form-label {
  font-size: 25px;
  padding-bottom: 5px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.account .account-form-buttons {
  display: flex;
  flex-direction: row;
}
.account .form-button {
  width: 20%;
  min-width: 110px;
  height: 40px;
  font-size: 25px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #f2cc0f;
  background-color: black;
  border: 1px solid #f2cc0f;
  transition: 0.5s;
  margin-bottom: 1rem;
  cursor: pointer;
}
.account .form-button:hover {
  background-color: #f2cc0f;
  color: black;
  border: 1px solid black;
}
.account p {
  text-align: center;
}

/* Navigation controller */
.navigation-btn {
  border: none;
  outline: none;
  color: black;
  background-color: #f2cc0f;
  cursor: pointer;
  padding-top: 3px;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  font-size: 18px;
}
.navigation-btn:hover {
  background-color: black;
  color: #f2cc0f;
}
/* Top of page */
#upBtn {
  position: fixed;
  bottom: 105px;
  right: 45px;
}
/* Bottom of page */
#downBtn {
  position: fixed;
  bottom: 45px;
  right: 45px;
}
/* Open nav */
#openNav {
  position: fixed;
  bottom: 75px;
  right: 15px;
}
/* Close nav */
#closeNav {
  position: fixed;
  bottom: 75px;
  right: 75px;
}
/* Previous page */
#previousPage {
  position: fixed;
  bottom: 75px;
  right: 45px;
  border-radius: 50%;
  color: #f2cc0f;
  background-color: black;
}
#previousPage:hover {
  color: black;
  background-color: #f2cc0f;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: #f2cc0f;
  color: black;
  font-weight: bold;
  width: 100%;
}

/* selected-product page */
.product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.change-view-buttons {
  display: flex;
  flex-direction: column;
}
.view-img {
  width: 150px;
  border: 1px solid #422c73;
  transition: 0.7s;
  margin: 10px;
}
.view-img:hover {
  filter: grayscale(100%);
}
.product-img {
  width: 35%;
}
.product-order-form {
  width: 250px;
  max-width: 250px;
  height: fit-content;
}
.label {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 22px;
  font-style: italic;
  padding-right: 7px;
}
.detail {
  font-size: 17px;
  align-items: center;
}
.select {
  height: 31.2px;
  width: 79.5%;
  margin-bottom: 10px;
  font-size: 17px;
  border: 1px solid #422c73;
  background-color: #432c730a;
  color: #422c73;
  cursor: pointer;
  outline: none;
}
.product-btn {
  color: #422c73;
  background-color: #432c730a;
  border: 1px solid #422c73;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 22px;
  font-style: italic;
  width: 100%;
  margin-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.product-btn:hover {
  background-color: #422c73;
  color: white;
  border: 1px solid transparent;
}

@media (min-width: 300px) and (max-width: 1200px) {
  .product {
    flex-direction: column;
  }
  .change-view-buttons {
    flex-direction: row;
  }
  .product-img {
    width: 90%;
  }
  .view-img {
    width: 120px;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  main {
    padding: 0rem 2rem;
  }
  main h4 {
    font-size: 15px;
  }
  main p {
    font-size: 15px;
  }
  main .card-info {
    justify-content: space-between;
  }
  #upBtn {
    position: fixed;
    bottom: 250px;
    right: 40px;
  }
  #downBtn {
    position: fixed;
    bottom: 190px;
    right: 40px;
  }
  #openNav {
    position: fixed;
    bottom: 220px;
    right: 10px;
  }
  #closeNav {
    position: fixed;
    bottom: 220px;
    right: 70px;
  }
  #previousPage {
    position: fixed;
    bottom: 220px;
    right: 40px;
    border-radius: 50%;
  }
}

@media (min-width: 481px) and (max-width: 899px) {
  body {
    background-color: yellow;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 900px) and (max-width: 1024px) {
  .top-container {
    font-size: 18px;
  }
  header a {
    cursor: pointer;
    color: black;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-decoration: none;
    font-size: 60px;
    font-style: italic;
  }
  header i {
    font-size: 30px;
  }
  main {
    padding: 0rem 2rem;
  }
  main h4 {
    font-size: 16px;
  }
  main p {
    font-size: 16px;
  }
  main .card-info {
    justify-content: space-around;
  }
  footer {
    font-size: 18px;
  }
  #upBtn {
    position: fixed;
    bottom: 276px;
    right: 40px;
  }
  #downBtn {
    position: fixed;
    bottom: 216px;
    right: 40px;
  }
  #openNav {
    position: fixed;
    bottom: 246px;
    right: 10px;
  }
  #closeNav {
    position: fixed;
    bottom: 246px;
    right: 70px;
  }
  #previousPage {
    position: fixed;
    bottom: 246px;
    right: 40px;
    border-radius: 50%;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .top-container {
    font-size: 18px;
  }
  header a {
    cursor: pointer;
    color: black;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-decoration: none;
    font-size: 60px;
    font-style: italic;
  }
  header i {
    font-size: 30px;
  }
  main {
    padding: 0rem 2rem;
  }
  main h4 {
    font-size: 16px;
  }
  main p {
    font-size: 16px;
  }
  main .card-info {
    justify-content: space-around;
  }
  footer {
    font-size: 18px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1900px) {
  main {
    padding: 1.25rem 2rem;
  }
}

.about {
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 500px;
  position: relative;
  height: 0;
  margin: 0 auto;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196f3;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
}

.grid-item img {
  width: 100%;
  height: 100%;
}



.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

/* .content-image-featured{
  width: 100%;
  transform: scale(1.2);
} */

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details p{
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}

.fadeIn-top{
  top: 20%;
}

.section-heading {
  margin: 0.7rem 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}