* {
  box-sizing: border-box;
  margin: 0%;
  scroll-behavior: smooth;
}
body {
  font-family: Avenir Next, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
body button {
  transition: 0.1s all;
}
body button:active {
  transform: scale(0.95);
}
#app {
  transition: margin-left 0.5s;
}

.top-container {
  padding: 0.3rem;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

header {
  background-color: #f2cc0f;
  color: black;
  padding: 0.4rem 2rem;
  z-index: 2;
  width: 100%;
}
header .header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .home-link {
  cursor: pointer;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
}
header i {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.8s ease;
  color: black;
}
header i:hover {
  transform: scale(1.18);
}
header .icon {
  outline: none;
  border: none;
  background-color: transparent;
}
header .searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0px;
}
header .search-input {
  width: 40%;
  min-width: 250px;
  height: 40px;
  margin-right: 20px;
  outline: none;
  border: 1px solid black;
  font-size: 15px;
  padding: 10px;
}
header .input-button {
  background-color: black;
  color: #f2cc0f;
  border: 1px solid black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 10%;
  min-width: 70px;
  height: 40px;
  font-size: 20px;
  font-style: italic;
  padding-left: 3px;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
}
header .input-button:hover {
  color: black;
  background-color: #f2cc0f;
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sidenav a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: 25px;
  color: #f2cc0f;
  display: block;
  transition: 0.3s;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
}
.sidenav a:hover {
  color: #d3a92a;
}
.sidenav .type-button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

main {
  min-height: calc(100vh - 60.78px - 35px);
  padding-top: 1rem;
}
main .user-account {
  background: url("../images/store/backdrop.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding: 2rem;
}
/* User icon */
main .user-img {
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 2rem;
}
/* User details */
main .user-detail-label {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  padding-right: 5px;
}
main .user-detail {
  font-size: 18px;
  color: white;
  word-break: break-all;
}
/* Action buttons */
main .action-button {
  border: 1px solid black;
  background-color: black;
  font-size: 20px;
  padding: 5px;
  margin: 0.5rem;
  transition: 0.5s;
}
main .action-button:hover {
  border: 1px solid black;
  background-color: #f2cc0f;
}
main .action-button a {
  color: #f2cc0f;
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  transition: 0.5s;
}
main .action-button a:hover {
  color: black;
}

/* Navigation controller */
.navigation-btn {
  border: none;
  outline: none;
  color: black;
  background-color: #f2cc0f;
  cursor: pointer;
  padding-top: 3px;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: 0.5s;
  font-size: 18px;
  z-index: 2;
}
.navigation-btn:hover {
  background-color: black;
  color: #f2cc0f;
}
/* Top of page */
#upBtn {
  position: fixed;
  bottom: 105px;
  right: 45px;
}
/* Bottom of page */
#downBtn {
  position: fixed;
  bottom: 45px;
  right: 45px;
}
/* Open nav */
#openNav {
  position: fixed;
  bottom: 75px;
  right: 15px;
}
/* Close nav */
#closeNav {
  position: fixed;
  bottom: 75px;
  right: 75px;
}
/* Previous page */
#previousPage {
  position: fixed;
  bottom: 75px;
  right: 45px;
  border-radius: 50%;
  color: #f2cc0f;
  background-color: black;
}
#previousPage:hover {
  color: black;
  background-color: #f2cc0f;
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background-color: #f2cc0f;
  color: black;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Media Queries */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  main {
    padding: 1rem 2rem;
  }
  .user-account {
    flex-direction: column;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  main {
    padding: 1rem 1rem;
  }
  .sidenav a {
    padding-right: 5px;
    font-size: 18px;
  }
}
